services:
  ssr-server:
    build:
      context: .
      target: server
    ports:
      - "4000:4000"
  
  nginx:
    build:
      context: .
      target: nginx
    ports:
      - "8080:80"
    depends_on:
      - ssr-server